---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 327ms
      X-Forecast-Api-Calls:
      - '60'
      X-Response-Time:
      - 103.648ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1572971096,"summary":"Clear","icon":"clear-day","nearestStormDistance":140,"nearestStormBearing":80,"precipIntensity":0,"precipProbability":0,"temperature":45.33,"apparentTemperature":45.33,"dewPoint":31.66,"humidity":0.59,"pressure":1021.5,"windSpeed":1.21,"windGust":5.46,"windBearing":123,"cloudCover":0.24,"uvIndex":2,"visibility":10,"ozone":263.4},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-day","data":[{"time":1572971040,"precipIntensity":0,"precipProbability":0},{"time":1572971100,"precipIntensity":0,"precipProbability":0},{"time":1572971160,"precipIntensity":0,"precipProbability":0},{"time":1572971220,"precipIntensity":0,"precipProbability":0},{"time":1572971280,"precipIntensity":0,"precipProbability":0},{"time":1572971340,"precipIntensity":0,"precipProbability":0},{"time":1572971400,"precipIntensity":0,"precipProbability":0},{"time":1572971460,"precipIntensity":0,"precipProbability":0},{"t[...]
