---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 552ms
      X-Forecast-Api-Calls:
      - '70'
      X-Response-Time:
      - 84.256ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1572994878,"summary":"Clear","icon":"clear-day","nearestStormDistance":221,"nearestStormBearing":187,"precipIntensity":0,"precipProbability":0,"temperature":58.13,"apparentTemperature":58.13,"dewPoint":28.86,"humidity":0.33,"pressure":1018.2,"windSpeed":2.73,"windGust":6.29,"windBearing":56,"cloudCover":0.14,"uvIndex":0,"visibility":10,"ozone":266.8},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-day","data":[{"time":1572994860,"precipIntensity":0,"precipProbability":0},{"time":1572994920,"precipIntensity":0,"precipProbability":0},{"time":1572994980,"precipIntensity":0,"precipProbability":0},{"time":1572995040,"precipIntensity":0,"precipProbability":0},{"time":1572995100,"precipIntensity":0,"precipProbability":0},{"time":1572995160,"precipIntensity":0,"precipProbability":0},{"time":1572995220,"precipIntensity":0,"precipProbability":0},{"time":1572995280,"precipIntensity":0,"precipProbability":0},{"t[...]
