---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?key=<GOOGLE_API_KEY>&latlng=40.714224,-73.961452
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "plus_code" : {
              "compound_code" : "P27Q+MC New York, NY, USA",
              "global_code" : "87G8P27Q+MC"
           },
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "279",
                       "short_name" : "279",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Bedford Avenue",
                       "short_name" : "Bedford Ave",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Williamsburg",
                       "short_name" : "Williamsburg",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                   [...]
