---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest/?api_key=a7ab1a4164e9792dec1c1add83f76007&format=json&method=flickr.photos.search&tags=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: UTF-8
      string: jsonFlickrApi({"photos":{"page":1,"pages":9141,"perpage":100,"total":"914084","photo":[{"id":"49010950662","owner":"95428591@N00","secret":"154cb84b88","server":"65535","farm":66,"title":"IMG_0760","ispublic":1,"isfriend":0,"isfamily":0},{"id":"49010949582","owner":"95428591@N00","secret":"7375f0d60d","server":"65535","farm":66,"title":"IMG_0763","ispublic":1,"isfriend":0,"isfamily":0},{"id":"49010745201","owner":"95428591@N00","secret":"792943c5e9","server":"65535","farm":66,"title":"IMG_0764","ispublic":1,"isfriend":0,"isfamily":0},{"id":"49010744736","owner":"95428591@N00","secret":"8060736b11","server":"65535","farm":66,"title":"Dylan
        Stucki","ispublic":1,"isfriend":0,"isfamily":0},{"id":"49010744186","owner":"954[...]
- request:
    method: get
    uri: https://api.flickr.com/services/rest/?api_key=a7ab1a4164e9792dec1c1add83f76007&format=json&method=flickr.photos.getInfo&photo_id=49010950662
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: jsonFlickrApi({"photo":{"id":"49010950662","secret":"154cb84b88","server":"65535","farm":66,"dateuploaded":"1572839028","isfavorite":0,"license":"0","safety_level":"0","rotation":0,"owner":{"nsid":"95428591@N00","username":"J.
        Suzuki","realname":"Jon Suzuki","location":"Durango, CO, US of A","iconserver":"4857","iconfarm":5,"path_alias":null},"title":{"_content":"IMG_0760"},"description":{"_content":""},"visibility":{"ispublic":1,"isfriend":0,"isfamily":0},"dates":{"posted":"1572839028","taken":"2019-12-01
        00:18:42","takengranularity":"0","takenunknown":"0","lastupdate":"1572839046"},"views":"5","editability":{"cancomment":0,"canaddmeta":0},"publiceditability":{"cancomment":1,"canaddmeta":0},"usage":{"candownload":0,"canblog":0,"canprint":0,"canshare":1},"comments":{"_content":"0"},"notes":{"note":[]},"people":{"haspeople":0},"tags":{"tag":[{"id":"1960105-49010950662-489316207","author":"95428591@N00","authorname":"J.
        Suzuki","raw":"Bronco Cross","_content":"broncocross","machine_tag":false},{"id":"1960105-49010950662-29911","author":"95428591@N00","authorname":"J.
        Suzuki","raw":"Hesperus","_content":"hesperus","machine_tag":false},{"id":"1960105-49010950662-17235","author":"95428591@N00","authorname":"J.
        Suzuki","raw":"CO","_content":"co","machine_tag":false},{"id":"1960105-49010950662-73666","author":"95428591@N00","authorname":"J.
        Suzuki","raw":"Cyclocross","_content":"cyclocross","machine_tag":false}]},"urls":{"url":[{"type":"photopage","_content":"https:\/\/www.flickr.com\/photos\/95428591@N00\/49010950662\/"}]},"media":"photo"},"stat":"ok"})
  recorded_at: Mon, 04 Nov 2019 05:30:18 GMT
[...]
