---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 774ms
      X-Forecast-Api-Calls:
      - '14'
      X-Response-Time:
      - 201.807ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1572845421,"summary":"Mostly
        Cloudy","icon":"partly-cloudy-night","nearestStormDistance":2,"nearestStormBearing":91,"precipIntensity":0,"precipProbability":0,"temperature":43.11,"apparentTemperature":40.71,"dewPoint":26.02,"humidity":0.51,"pressure":1014.9,"windSpeed":4.23,"windGust":8,"windBearing":8,"cloudCover":0.67,"uvIndex":0,"visibility":8.301,"ozone":267.3},"minutely":{"summary":"Mostly
        cloudy for the hour.","icon":"partly-cloudy-night","data":[{"time":1572845400,"precipIntensity":0,"precipProbability":0},{"time":1572845460,"precipIntensity":0,"precipProbability":0},{"time":1572845520,"precipIntensity":0,"precipProbability":0},{"time":1572845580,"precipIntensity":0,"precipProbability":0},{"time":1572845640,"precipIntensity":0,"precipProbability":0},{"time":1572845700,"precipIntensity":0,"precipProbability":0},{"time":1572845760,"precipIntensity":0,"precipProbability":0},{"time":1572845820,"precipIntensity":0,"precipProbability":0},{"t[...]
