---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest/?api_key=a7ab1a4164e9792dec1c1add83f76007&format=json&method=flickr.photos.search&tags=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: UTF-8
      string: 'jsonFlickrApi({"photos":{"page":1,"pages":9141,"perpage":100,"total":"914058","photo":[{"id":"49019215691","owner":"151483626@N05","secret":"8a76e70079","server":"65535","farm":66,"title":"Clients
        of Denver Concepts are able to trust this growing firm to deliver excellence
        and operate with integrity.","ispublic":1,"isfriend":0,"isfamily":0},{"id":"49018652048","owner":"42564685@N03","secret":"6dde5ca875","server":"65535","farm":66,"title":"1998
        Metal Universe Precious Metal Gems #3 Ed McCaffrey \/50","ispublic":1,"isfriend":0,"isfamily":0},{"id":"49019028187","owner":"138798666@N02","secret":"9c160520dc","server":"65535","farm":66,"title":"flatbed
        tow truck Denver","ispublic":1,"isfriend":0,"isfamily":0},{"id":"49018182138","owner":"66944894@N06","secret":"b34409e9ed","server":"65535","farm":66,"title":"Snow
    [...]
- request:
    method: get
    uri: https://api.flickr.com/services/rest/?api_key=a7ab1a4164e9792dec1c1add83f76007&format=json&method=flickr.photos.getInfo&photo_id=49019215691
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: jsonFlickrApi({"photo":{"id":"49019215691","secret":"8a76e70079","server":"65535","farm":66,"dateuploaded":"1572969629","isfavorite":0,"license":"0","safety_level":"0","rotation":0,"originalsecret":"e45ee38316","originalformat":"png","owner":{"nsid":"151483626@N05","username":"DenverConcepts","realname":"Denver
        Concepts","location":"","iconserver":"4720","iconfarm":5,"path_alias":"denverconcepts"},"title":{"_content":"Clients
        of Denver Concepts are able to trust this growing firm to deliver excellence
        and operate with integrity."},"description":{"_content":"Clients rely upon
        Denver Concepts' ability to execute business plans and reach sales targets
        on a regular basis. <a href=\"https:\/\/about.me\/denverconcepts\" rel=\"noreferrer
        nofollow\">about.me\/denverconcepts<\/a> All of this is not only important,
        but necessary for well-known brands when it comes to choosing an outsourced
        partner."},"visibility":{"ispublic":1,"isfriend":0,"isfamily":0},"dates":{"posted":"1572969629","taken":"2019-11-05
        08:00:29","takengranularity":0,"takenunknown":"1","lastupdate":"1572969631"},"views":"0","editability":{"cancomment":0,"canaddmeta":0},"publiceditability":{"cancomment":1,"canaddmeta":0},"usage":{"candownload":1,"canblog":0,"canprint":0,"canshare":1},"comments":{"_content":"0"},"notes":{"note":[]},"people":{"haspeople":0},"tags":{"tag":[{"id":"151478286-49019215691-179809","author":"151483626@N05","authorname":"DenverConcepts","raw":"B2B","_content":"b2b","machine_tag":false},{"id":"151478286-49019215691-2141","author":"151483626@N05","authorname":"DenverConcepts","raw":"Marketing","_content":"marketing","machine_tag":false},{"id":"151478286-49019215691-9669","author":"151483626@N05","authorname":"DenverConcepts","raw":"Denver","_content":"denver","machine_tag":false},{"id":"151478286-49019215691-3157","author":"151483626@N05","authorname":"DenverConcepts","raw":"Colorado","_content":"colorado","machine_tag":false},{"id":"151478286-49019215691-345055201","author":"151483626@N05","authorname":"DenverConcepts","raw":"Denver-Concepts","_content":"denverconcepts","machine_tag":false}]},"urls":{"url":[{"type":"photopage","_content":"https:\/\/www.flickr.com\/photos\/denverconcepts\/49019215691\/"}]},"media":"photo"},"stat":"ok"})
  recorded_at: Tue, 05 Nov 2019 16:12:31 GMT
[...]
