---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest/?api_key=a7ab1a4164e9792dec1c1add83f76007&format=json&method=flickr.photos.search&tags=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: UTF-8
      string: 'jsonFlickrApi({"photos":{"page":1,"pages":9141,"perpage":100,"total":"914097","photo":[{"id":"49021265996","owner":"17017714@N04","secret":"dcaf934562","server":"65535","farm":66,"title":"Hang
        in there!","ispublic":1,"isfriend":0,"isfamily":0},{"id":"49020742338","owner":"17017714@N04","secret":"e92805e11d","server":"65535","farm":66,"title":"Hang
        in there!","ispublic":1,"isfriend":0,"isfamily":0},{"id":"49020741683","owner":"17017714@N04","secret":"a63e7eb479","server":"65535","farm":66,"title":"Hang
        in there!","ispublic":1,"isfriend":0,"isfamily":0},{"id":"49020741273","owner":"144643761@N08","secret":"6a1fea5e89","server":"65535","farm":66,"title":"Bucket
        o\u2019 Salt in Denver. #","ispublic":1,"isfriend"[...]
- request:
    method: get
    uri: https://api.flickr.com/services/rest/?api_key=a7ab1a4164e9792dec1c1add83f76007&format=json&method=flickr.photos.getInfo&photo_id=49021265996
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: 'jsonFlickrApi({"photo":{"id":"49021265996","secret":"dcaf934562","server":"65535","farm":66,"dateuploaded":"1572998163","isfavorite":0,"license":"0","safety_level":"0","rotation":0,"owner":{"nsid":"17017714@N04","username":"Web-Betty","realname":"Melissa
        Johnson","location":"Englewood, USA","iconserver":"2031","iconfarm":3,"path_alias":"web-betty"},"title":{"_content":"Hang
        in there!"},"description":{"_content":"\u00a9 Web-Betty: digital heart, analog
        soul"},"visibility":{"ispublic":1,"isfriend":0,"isfamily":0},"dates":{"posted":"1572998163","taken":"2019-10-19
        18:55:23","takengranularity":"0","takenunknown":"0","lastupdate":"1572998246"},"views":"0","editability":{"cancomment":0,"canaddmeta":0},"publiceditability":{"cancomment":1,"canaddmeta":0},"usage":{"candownload":0,"canblog":0,"canprint":0,"canshare":0},"comments":{"_content":"0"},"notes":{"note":[]},"people":{"haspeople":0},"tags":{"tag":[{"id":"16985575-49021265996-720","author":"17017714@N04","authorname":"Web-Betty","raw":"Halloween","_content":"halloween","machine_tag":false},{"id":"16985575-49021265996-10568","author":"17017714@N04","authorname":"Web-Betty","raw":"parade","_content":"parade","machine_tag":false},{"id":"16985575-49021265996-401","author":"17017714@N04","authorname":"Web-Betty","raw":"holiday","_content":"holiday","machine_tag":false},{"id":"16985575-49021265996-9669","author":"17017714@N04","authorname":"Web-Betty","raw":"Denver","_content":"denver","machine_tag":false},{"id":"16985575-49021265996-1729","author":"17017714@N04","authorname":"Web-Betty","raw":"skeleton","_content":"skeleton","machine_tag":false},{"id":"16985575-49021265996-56566","author":"17017714@N04","authorname":"Web-Betty","raw":"hearse","_content":"hearse","machine_tag":false},{"id":"16985575-49021265996-11334","author":"17017714@N04","authorname":"Web-Betty","raw":"spooky","_content":"spooky","machine_tag":false},{"id":"16985575-49021265996-2725","author":"17017714@N04","authorname":"Web-Betty","raw":"scary","_content":"scary","machine_tag":false}]},"urls":{"url":[{"type":"photopage","_content":"https:\/\/www.flickr.com\/photos\/web-betty\/49021265996\/"}]},"media":"photo"},"stat":"ok"})'
  recorded_at: Wed, 06 Nov 2019 00:03:44 GMT
[...]
- request:
    method: get
    uri: https://api.flickr.com/services/rest/?api_key=a7ab1a4164e9792dec1c1add83f76007&format=json&method=flickr.photos.getInfo&photo_id=49020741273
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: 'jsonFlickrApi({"photo":{"id":"49020741273","secret":"6a1fea5e89","server":"65535","farm":66,"dateuploaded":"1572998129","isfavorite":0,"license":"0","safety_level":"0","rotation":0,"originalsecret":"12483ec9ae","originalformat":"jpg","owner":{"nsid":"144643761@N08","username":"rockatansky71","realname":"Rob
        Nelson","location":"","iconserver":"1921","iconfarm":2,"path_alias":"robrockatansky"},"title":{"_content":"Bucket
        o\u2019 Salt in Denver. #"},"description":{"_content":""},"visibility":{"ispublic":1,"isfriend":0,"isfamily":0},"dates":{"posted":"1572998129","taken":"2019-11-05
        15:51:39","takengranularity":0,"takenunknown":"1","lastupdate":"1572998278"},"views":"0","editability":{"cancomment":0[...]
[...]
