---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest/?api_key=a7ab1a4164e9792dec1c1add83f76007&format=json&method=flickr.photos.search&tags=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: UTF-8
      string: 'jsonFlickrApi({"photos":{"page":1,"pages":3035,"perpage":100,"total":"303497","photo":[{"id":"49019215691","owner":"151483626@N05","secret":"8a76e70079","server":"65535","farm":66,"title":"Clients
        of Denver Concepts are able to trust this growing firm to deliver excellence
        and operate with integrity.","ispublic":1,"isfriend":0,"isfamily":0},{"id":"49018652048","owner":"42564685@N03","secret":"6dde5ca875","server":"65535","farm":66,"title":"1998
        Metal Universe Precious Metal Gems #3 Ed McCaffrey \/50","ispublic":1,"isfriend":0,"isfamily":0},{"id":"49019028187","owner":"138798666@N02","secret":"9c160520dc","server":"65535","farm":66,"title":"flatbed
        tow truck Denver","ispublic":1,"isfriend":0,"isfamily":0},{"id":"49018182138","owner":"66944894@N06","secret":"b34409e9ed","server":"65535","farm":66,"title":"Snow
    [...]
