---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest/?api_key=a7ab1a4164e9792dec1c1add83f76007&format=json&method=flickr.photos.search&tags=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: UTF-8
      string: 'jsonFlickrApi({"photos":{"page":1,"pages":3036,"perpage":100,"total":"303518","photo":[{"id":"49019284181","owner":"17017714@N04","secret":"3974f7ffed","server":"65535","farm":66,"title":"The
        Hearse Parade","ispublic":1,"isfriend":0,"isfamily":0},{"id":"49019480827","owner":"17017714@N04","secret":"5ac8da730f","server":"65535","farm":66,"title":"The
        Hearse Parade","ispublic":1,"isfriend":0,"isfamily":0},{"id":"49019282866","owner":"17017714@N04","secret":"7bd3f05176","server":"65535","farm":66,"title":"The
        Hearse Parade","ispublic":1,"isfriend":0,"isfamily":0},{"id":"49019479412","owner":"17017714@N04","secret":"515ff1e8e6","server":"65535","farm":66,"title":"The
        Hearse Parade","ispublic":1,"isfriend":0,"isfami[...]
- request:
    method: get
    uri: https://api.flickr.com/services/rest/?api_key=a7ab1a4164e9792dec1c1add83f76007&format=json&method=flickr.photos.getInfo&photo_id=49019284181
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: 'jsonFlickrApi({"photo":{"id":"49019284181","secret":"3974f7ffed","server":"65535","farm":66,"dateuploaded":"1572970614","isfavorite":0,"license":"0","safety_level":"0","rotation":0,"owner":{"nsid":"17017714@N04","username":"Web-Betty","realname":"Melissa
        Johnson","location":"Englewood, USA","iconserver":"2031","iconfarm":3,"path_alias":"web-betty"},"title":{"_content":"The
        Hearse Parade"},"description":{"_content":"\u00a9 Web-Betty: digital heart,
        analog soul"},"visibility":{"ispublic":1,"isfriend":0,"isfamily":0},"dates":{"posted":"1572970614","taken":"2019-10-19
        18:50:59","takengranularity":"0","takenunknown":"0","lastupdate":"1572970648"},"views":"3","editability":{"cancomment":0,"canaddmeta":0},"publiceditability":{"cancomment":1,"canaddmeta":0},"usage":{"candownload":0,"canblog":0,"canprint":0,"canshare":0},"comments":{"_content":"0"},"notes":{"note":[]},"people":{"haspeople":0},"tags":{"tag":[{"id":"16985575-49019284181-720","author":"17017714@N04","authorname":"Web-Betty","raw":"Halloween","_content":"halloween","machine_tag":false},{"id":"16985575-49019284181-9669","author":"17017714@N04","authorname":"Web-Betty","raw":"Denver","_content":"denver","machine_tag":false},{"id":"16985575-49019284181-3157","author":"17017714@N04","authorname":"Web-Betty","raw":"Colorado","_content":"colorado","machine_tag":false},{"id":"16985575-49019284181-56566","author":"17017714@N04","authorname":"Web-Betty","raw":"hearse","_content":"hearse","machine_tag":false},{"id":"16985575-49019284181-10568","author":"17017714@N04","authorname":"Web-Betty","raw":"parade","_content":"parade","machine_tag":false},{"id":"16985575-49019284181-1213","author":"17017714@N04","authorname":"Web-Betty","raw":"night","_content":"night","machine_tag":false},{"id":"16985575-49019284181-2117","author":"17017714@N04","authorname":"Web-Betty","raw":"evening","_content":"evening","machine_tag":false},{"id":"16985575-49019284181-11334","author":"17017714@N04","authorname":"Web-Betty","raw":"spooky","_content":"spooky","machine_tag":false}]},"urls":{"url":[{"type":"photopage","_content":"https:\/\/www.flickr.com\/photos\/web-betty\/49019284181\/"}]},"media":"photo"},"stat":"ok"})'
  recorded_at: Tue, 05 Nov 2019 16:24:57 GMT
[...]
