---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest/?api_key=a7ab1a4164e9792dec1c1add83f76007&format=json&method=flickr.photos.search&tags=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: UTF-8
      string: 'jsonFlickrApi({"photos":{"page":1,"pages":9141,"perpage":100,"total":"914097","photo":[{"id":"49021265996","owner":"17017714@N04","secret":"dcaf934562","server":"65535","farm":66,"title":"Hang
        in there!","ispublic":1,"isfriend":0,"isfamily":0},{"id":"49020742338","owner":"17017714@N04","secret":"e92805e11d","server":"65535","farm":66,"title":"Hang
        in there!","ispublic":1,"isfriend":0,"isfamily":0},{"id":"49020741683","owner":"17017714@N04","secret":"a63e7eb479","server":"65535","farm":66,"title":"Hang
        in there!","ispublic":1,"isfriend":0,"isfamily":0},{"id":"49020741273","owner":"144643761@N08","secret":"6a1fea5e89","server":"65535","farm":66,"title":"Bucket
        o\u2019 Salt in Denver. #","ispublic":1,"isfriend"[...]
