---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest/?api_key=a7ab1a4164e9792dec1c1add83f76007&format=json&method=flickr.photos.getInfo&photo_id=49008133658
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: jsonFlickrApi({"photo":{"id":"49008133658","secret":"dbf135c38a","server":"65535","farm":66,"dateuploaded":"1572812761","isfavorite":0,"license":"0","safety_level":"0","rotation":0,"originalsecret":"4106214035","originalformat":"jpg","owner":{"nsid":"55888917@N03","username":"hsadura","realname":"","location":"Chicago","iconserver":"438","iconfarm":1,"path_alias":"henryksadura"},"title":{"_content":"Santa
        Cruz de Tenerife skyline"},"description":{"_content":"\ud83c\uddea\ud83c\uddf8
        Santa Cruz de Tenerife skyline \nSanta Cruz de Tenerife, Tenerife, Canary
        Islands, Spain  \ud83c\uddea\ud83c\uddf8"},"visibility":{"ispublic":1,"isfriend":0,"isfamily":0},"dates":{"posted":"1572812761","taken":"2015-11-26
        09:09:30","takengranularity":"0","takenunknown":"0","lastupdate":"1572959758"},"views":"331","editability":{"cancomment":0,"canaddmeta":0},"publiceditability":{"cancomment":1,"canaddmeta":0},"usage":{"candownload":1,"canblog":0,"canprint":0,"canshare":0},"comments":{"_content":"1"},"notes":{"note":[]},"people":{"haspeople":0},"tags":{"tag":[{"id":"55865863-49008133658-17353","author":"55888917@N03","authorname":"hsadura","raw":"Santa
        Cruz de Tenerife","_content":"santacruzdetenerife","machine_tag":0},{"id":"55865863-49008133658-1147","author":"55888917@N03","authorname":"hsadura","raw":"skyline","_content":"skyline","machine_tag":0},{"id":"55865863-49008133658-552","author":"55888917@N03","authorname":"hsadura","raw":"reflection","_content":"reflection","machine_tag":0},{"id":"55865863-49008133658-365","author":"55888917@N03","authorname":"hsadura","raw":"Santa
        Cruz","_content":"santacruz","machine_tag":0},{"id":"55865863-49008133658-17351","author":"55888917@N03","authorname":"hs[...]
