---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest/?api_key=a7ab1a4164e9792dec1c1add83f76007&format=json&method=flickr.photos.search&tags=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: UTF-8
      string: 'jsonFlickrApi({"photos":{"page":1,"pages":3035,"perpage":100,"total":"303449","photo":[{"id":"49019649576","owner":"75372896@N00","secret":"18152dc1cc","server":"65535","farm":66,"title":"Cymbidium
        Unknown [c\/o Karen] hybrid orchid 10-19","ispublic":1,"isfriend":0,"isfamily":0},{"id":"49019457281","owner":"33215734@N04","secret":"4d0e6275cf","server":"65535","farm":66,"title":"New
        York Sour","ispublic":1,"isfriend":0,"isfamily":0},{"id":"49019284181","owner":"17017714@N04","secret":"3974f7ffed","server":"65535","farm":66,"title":"The
        Hearse Parade","ispublic":1,"isfriend":0,"isfamily":0},{"id":"49019480827","owner":"17017714@N04","secret":"5ac8da730f","server":"65535","farm":66,"title":"The
        Hearse Parade","ispublic":1,"isfriend":0,"isfamily":[...]
- request:
    method: get
    uri: https://api.flickr.com/services/rest/?api_key=a7ab1a4164e9792dec1c1add83f76007&format=json&method=flickr.photos.getInfo&photo_id=49019649576
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: jsonFlickrApi({"photo":{"id":"49019649576","secret":"18152dc1cc","server":"65535","farm":66,"dateuploaded":"1572976715","isfavorite":0,"license":"0","safety_level":"0","rotation":0,"owner":{"nsid":"75372896@N00","username":"nolehace","realname":"nolehace","location":"san
        francisco, usa","iconserver":"171","iconfarm":1,"path_alias":"nolehace_photography"},"title":{"_content":"Cymbidium
        Unknown [c\/o Karen] hybrid orchid 10-19"},"description":{"_content":""},"visibility":{"ispublic":1,"isfriend":0,"isfamily":0},"dates":{"posted":"1572976715","taken":"2019-10-24
        14:29:33","takengranularity":"0","takenunknown":"0","lastupdate":"1572985545"},"views":"27","editability":{"cancomment":0,"canaddmeta":0},"publiceditability":{"cancomment":1,"canaddmeta":0},"usage":{"candownload":0,"canblog":0,"canprint":0,"canshare":0},"comments":{"_content":"0"},"notes":{"note":[]},"people":{"haspeople":0},"tags":{"tag":[{"id":"2032925-49019649576-150519","author":"75372896@N00","authorname":"nolehace","raw":"Cymbidium","_content":"cymbidium","machine_tag":0},{"id":"2032925-49019649576-17281","author":"75372896@N00","authorname":"nolehace","raw":"Unknown","_content":"unknown","machine_tag":0},{"id":"2032925-49019649576-17235","author":"75372896@N00","authorname":"nolehace","raw":"c\/o","_content":"co","machine_tag":0},{"id":"2032925-49019649576-9863","author":"75372896@N00","authorname":"nolehace","raw":"Karen","_content":"karen","machine_tag":0},{"id":"2032925-49019649576-32212","author":"75372896@N00","authorname":"nolehace","raw":"hybrid","_con[...]
[...]
