---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=hong%20kong&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Hong Kong",
                       "short_name" : "HK",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Hong Kong",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 22.5619469,
                          "lng" : 114.4294999
                       },
                       "southwest" : {
                          "lat" : 22.1435,
                          "lng" : 113.8259001
                       }
                    },
                    "location" : {
                       "lat" : 22.3193039,
                       "lng" : 114.1693611
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 22.5619469,
                          "lng" : 114.4294999
                       },
                       "southwest" : {
                          "lat" : 22.1435,
                          "lng" : 113.8259001
                       }
                    }
                 },
                 "place_id" : "ChIJD5gyo-3iAzQRfMnq27qzivA",
                 "types" : [ "country", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 04 Nov 2019 17:52:25 GMT
- request:
    method: get
    uri: http://amypode.herokuapp.com/api/v1/antipodes?lat=22.3193039&long=114.1693611
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - oscar_the_grouch
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44fbfaaa09d0c593056cbd5360c77c9c"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1","type":"antipode","attributes":{"lat":-22.3193039,"long":-65.8306389}}}'
  recorded_at: Mon, 04 Nov 2019 17:52:25 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?key=<GOOGLE_API_KEY>&latlng=-22.3193039,-65.8306389
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "plus_code" : {
              "compound_code" : "M5J9+7P Cerrillos, Jujuy, Argentina",
              "global_code" : "579PM5J9+7P"
           },
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Ruta Provincial 69",
                       "short_name" : "RP69",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Yavi",
                       "short_name" : "Yavi",
                       "types" : [ "administrative_area_level_2", "political" ]
[...]
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/-22.3193039,-65.8306389
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 295ms
      X-Forecast-Api-Calls:
      - '46'
      X-Response-Time:
      - 45.541ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":-22.3193039,"longitude":-65.8306389,"timezone":"America/La_Paz","currently":{"time":1572889946,"summary":"Mostly
        Cloudy","icon":"partly-cloudy-day","precipIntensity":0.0011,"precipProbability":0.01,"precipType":"rain","temperature":70.24,"apparentTemperature":70.24,"dewPoint":21.61,"humidity":0.16,"pressure":998.6,"windSpeed":6.91,"windGust":15.77,"windBearing":4,"cloudCover":0.76,"uvIndex":8,"visibility":10,"ozone":258.6},"hourly":{"summary":"Mostly
        cloudy throughout the day.","icon":"partly-cloudy-day","data":[{"time":1572886800,"summary":"Partly
        Cloudy","icon":"partly-cloudy-day","precipIntensity":0.0007,"precipProbability":0.01,"precipType":"rain","temperature":68.22,"apparentTemperature":68.22,"dewPoint":22.19,"humidity":0.17,"pressure":999.9,"windSpeed":6.3,"windGust":14.92,"windBearing":38,"cloudCover":0.5,"uvIndex":11,"visibility":10,"ozone":258.1},{"time":1572890400,"summary":"Mostly
        Cloudy[...]
