---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 06 Nov 2019 00:03:41 GMT
[...]
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 305ms
      X-Forecast-Api-Calls:
      - '174'
      X-Response-Time:
      - 98.877ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1572998622,"summary":"Clear","icon":"clear-night","nearestStormDistance":219,"nearestStormBearing":187,"precipIntensity":0,"precipProbability":0,"temperature":56.03,"apparentTemperature":56.03,"dewPoint":28.08,"humidity":0.34,"pressure":1019.2,"windSpeed":2.94,"windGust":4.92,"windBearing":68,"cloudCover":0.16,"uvIndex":0,"visibility":10,"ozone":266.5},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-night","data":[{"time":1572998580,"precipIntensity":0,"precipProbability":0},{"time":1572998640,"precipIntensity":0,"precipProbability":0},{"time":1572998700,"precipIntensity":0,"precipProbability":0},{"time":1572998760,"precipIntensity":0,"precipProbability":0},{"time":1572998820,"precipIntensity":0,"precipProbability":0},{"time":1572998880,"precipIntensity":0,"precipProbability":0},{"time":1572998940,"precipIntensity":0,"precipProbability":0},{"time":1572999000,"precipIntensity":0,"precipProbability":0},{"t[...]
